.form {
  width: 85%;
  height: 30px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.form input {
  width: 90%;
  padding: 5px;
}
.form button {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}