body {
  margin: 0;
  font-family: sans-serif;
}
.list {
  border: 1px solid #1b263b;
  border-radius: 7px;
  width: 60%;
  text-align: center;
  overflow: hidden;
  margin: auto;
  background: #f1f2f6;
}
.list h2 {
  background-color: #778da9;
  padding: 20px 0px;
  margin-top: 0px;
}
