.Single_item {
  width: 80%;
  margin: auto;
  border: 1px solid black;
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.Single_item button {
  background: transparent;
  border: none;
}
.Single_item button svg {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
.Single_item button svg:hover path {
  color: red;
}
